<!DOCTYPE html>
<html lang="en">

<head>
  <title>Course Recommendation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="static/image/Logo.jpg" width="75" height="75">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/survey">Survey</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Analysis
          </a>
          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/analytics">Overview</a>
            <a class="dropdown-item" href="/analytics_scatter">Scatter plot</a>
            <a class="dropdown-item" href="/analytics_pie_freq">Pie plot</a>
          </div>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
    </div>
  </nav>

  <div class="container-fluid body">
    <div class="row justify-content-between fit-parent">
      <div class="col-11 fit-parent">
        <div class="container main-content">
          <h2>Course Recommendation Guide</h2><br>
          <h3>This platform helps you to see your grade based on capability and interest.</h3><br>
          <h4>How to start:</h4>
          <ul style="list-style-type:square;">

            <li>Home : Information about Our Website</li>
            <li>Survey : Questionnaire to predict grade of your desired course.</li>
            <li>Analytic : Three kind of visualization of our data set,</li>
              <ul style="list-style-type:square;"></ul>
              Overview : A bar chart using Mean of grades based on attending courses of male and female Students.
              <ul style="list-style-type:square;"></ul>
              Scatter plot : User interactive. Survey students grade of each study program based on age. 
              <ul style="list-style-type:square;"></ul>
              Pie plot : Pass percentage of Students based on gender, age, course name , language, previous knowledge, study time per week</li>
            <li>About : About our Team</li></ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>