<!DOCTYPE html>
<html lang="en">

<head>
  <title>Analytic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.12/c3.css">
  <link rel="stylesheet" href="style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.js"></script>
  <script src="http://d3js.org/d3.v5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.12/c3.js"></script>
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">H.A.N.A</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="survy.html">Survey</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Analytic
          </a>
          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="analytics.html">Overview</a>
            <a class="dropdown-item" href="analyz-scatterplott.html">Scatter plot</a>
            <a class="dropdown-item" href="pie-chart.html">Pie Chart</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
    </div>
  </nav>

  <div class="container-fluid body">
    <div class="row justify-content-between fit-parent">
      <div class="col-9 fit-parent">
        <div class="container main-content analytic">
            </div>
      </div>
      <div class="col-3">
        <div id="resultbox" class="container result-content" style="display: block;">

          <div class="row pt-3 pl-2 pr-2">
            <label>Country with average paticipation</label>
            
          </div>
        </div>
      </div>
    </div>
  </div>
      


  <script src="http://d3js.org/d3.v3.min.js"></script>
 <script>
    var width = 900,
      height = 700,
      radius = Math.min(width, height) / 2;
      
    

    var color = d3.scale.ordinal()
      .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

    var arc = d3.svg.arc()
      .outerRadius(radius - 100)
      .innerRadius(radius - 350);

    var pie = d3.layout.pie()
      .sort(null)
      .value(function(d) {
        return d.values;
      });

    var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height)
      .append("g")
      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    d3.csv("data.csv", function(error, data) {
        
        
      var data = d3.nest()
           
        .key(function(d) {
          return d.country;
        })
        
        .rollup(function(d) {
          return d3.mean(d, function(g) {
            return parseInt(g.participate);
          });
        }).entries(data);
        
      
           
        
      var g = svg.selectAll(".arc")
        .data(pie(data))
        .enter().append("g")
        .attr("class", "arc");
        
        
       

      g.append("path")
        .attr("d", arc)
        .style("fill", function(d) {
          return color(d.data.key);
        });

      g.append("text")
        .attr("transform", function(d) {
          return "translate(" + arc.centroid(d) + ")";
        })
        .attr("dy", ".35em")
        .style("text-anchor", "middle")
        .text(function(d) {
          return d.data.key;
        });
        

    });
  </script>

</body>

</html>
